// -----------------------------------------------------------------------------
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

// Form
button,
input,
select,
textarea {
    margin: 0;
    outline: none;
}

// Box sizing
html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

// Media
img,
video {
    height: auto;
    max-width: 100%;
}

// Iframe
iframe {
    border: 0;
}

// Table
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;

    &:not([align]) {
        text-align: left;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

    font-family: "Heebo-Regular";

    background: #000;

    &.hidden {
        overflow: hidden;
    }
    @media (max-width: 1024px) {
        font-size: 15px;
        line-height: 24px;
    }
    @media (max-width: 576px) {
        font-size: 14px;
        line-height: 24px;
    }
}
a {
    text-decoration: none;
}
.icon_common {
    &:hover {
        img,
        svg {
            animation-name: snakeX;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            animation-duration: 1s;
        }
    }
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-thumb {
}

::-webkit-scrollbar-thumb:window-inactive {
}

// ::selection{
//   color: #ffffff;
// }

// Typography

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
$weight-extraBold: 800 !default;
$weight-back: 900 !default;

$font-size: 14px;
$line-height: 1.4;

.typography {
    html,
    body,
    p,
    ol,
    ul,
    li,
    dl,
    dt,
    dd,
    blockquote,
    figure,
    fieldset,
    legend,
    textarea,
    pre,
    iframe,
    hr,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    // Headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 100%;
        font-weight: normal;
    }

    // List
    ul {
        list-style: none;
    }
}
.container_common {
    max-width: 1920px;
    margin: 0 auto;
    .content_common {
        padding: 0 percentage(320/1920);
        @media (max-width: 1440px) {
            padding: 0 percentage(160/1440);
        }
        @media (max-width: 1280px) {
            padding: 0 56px;
        }
        @media (max-width: 1024px) {
            padding: 0 42px;
        }
        @media (max-width: 576px) {
            padding: 0 18px;
        }
    }
    .content_common2 {
        padding: 0 percentage(575/1920) 0 percentage(675/1920);
        @media (max-width: 1440px) {
        }
        @media (max-width: 1280px) {
            padding: 0 56px;
        }
        @media (max-width: 1024px) {
            padding: 0 42px;
        }
        @media (max-width: 576px) {
            padding: 0 18px;
        }
    }
}
.is-bgr {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.is-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.is-rpspd2 {
    padding-left: percentage(375/1920);
    padding-right: percentage(375/1920);
    @include mediaMaxWidth(1440px) {
        padding-right: percentage(135/1440);
        padding-left: percentage(135/1440);
    }
    @media (max-width: 1280px) {
        padding-right: 56px;
        padding-left: 56px;
    }
    @include mediaMaxWidth(1024px) {
        padding-left: 42px;
        padding-right: 42px;
    }
    @include mediaMaxWidth(576px) {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.is-rpspd3 {
    padding-top: 120px;
    padding-bottom: 120px;
    @include mediaMaxWidth(1440px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include mediaMaxWidth(768px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    @include mediaMaxWidth(576px) {
    }
}

.is-rpspd4 {
    padding-top: 120px;
    padding-bottom: 80px;
    @include mediaMaxWidth(1440px) {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    @include mediaMaxWidth(768px) {
        padding-top: 48px;
        padding-bottom: 28px;
    }
    @include mediaMaxWidth(576px) {
    }
}

.is-rpspd {
    padding-left: percentage(120/1920);
    padding-right: percentage(120/1920);
    @include mediaMaxWidth(1280px) {
        padding-left: 56px;
        padding-right: 56px;
    }
    @include mediaMaxWidth(1024px) {
        padding-left: 42px;
        padding-right: 42px;
    }
    @include mediaMaxWidth(576px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.is-rpspd5 {
    padding-left: percentage(500/1920);
    padding-right: percentage(500/1920);
    @include mediaMaxWidth(1440px) {
        padding-left: percentage(260/1440);
        padding-right: percentage(260/1440);
    }
    @include mediaMaxWidth(1280px) {
        padding-left: 56px;
        padding-right: 56px;
    }
    @include mediaMaxWidth(1024px) {
        padding-left: 42px;
        padding-right: 42px;
    }
    @include mediaMaxWidth(576px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.is-rpsmg {
    margin-left: percentage(120/1920);
    margin-right: percentage(120/1920);
    @include mediaMaxWidth(1024px) {
        margin-left: 30px;
        margin-right: 30px;
    }
    @include mediaMaxWidth(576px) {
        margin-left: 15px;
        margin-right: 15px;
    }
}
.is-rpsmg2 {
    margin-left: percentage(375/1920);
    margin-right: percentage(375/1920);
    @include mediaMaxWidth(1440px) {
        margin-right: percentage(135/1440);
        margin-left: percentage(135/1440);
    }
    @media (max-width: 1280px) {
        margin-right: 56px;
        margin-left: 56px;
    }
    @include mediaMaxWidth(1024px) {
        margin-left: 42px;
        margin-right: 42px;
    }
    @include mediaMaxWidth(576px) {
        margin-left: 18px;
        margin-right: 18px;
    }
}
.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.is-ovlb {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(-4.09%, #000000f2),
            color-stop(41.75%, rgba(255, 255, 255, 0))
        );
        background: linear-gradient(360deg, #000000f2 -4.09%, rgba(255, 255, 255, 0) 41.75%);
        top: 0;
        left: 0;
        z-index: 4;
        transition: all 0.3s;
    }
}

.is-ovlw {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(-4.09%, #fffcfcf2),
            color-stop(41.75%, rgba(255, 255, 255, 0))
        );
        background: linear-gradient(360deg, #fff9f9f2 -4.09%, rgba(255, 255, 255, 0) 41.75%);
        top: 0;
        left: 0;
        z-index: 4;
        transition: all 0.3s;
    }
}
.is-ovlb2 {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(1turn, #00000080 -4.09%, #000000a8 41.75%);
        top: 0;
        left: 0;
        z-index: 4;
        transition: all 0.3s;
        opacity: 0.4;
    }
}
.pc {
    display: block;
    @media (max-width: 576px) {
        display: none;
    }
}

.mb {
    display: none;
    @media (max-width: 576px) {
        display: block;
    }
}
