// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// font old
@font-face {
	font-family: "Cutmark-Bold";
	src: url("../../../fonts/Cutmark/Cutmark-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cutmark-Regular";
	src: url("../../../fonts/Cutmark/Cutmark-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cutmark-MediumItalic";
	src: url("../../../fonts/Cutmark/Cutmark-MediumItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cutmark-Medium";
	src: url("../../../fonts/Cutmark/Cutmark-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Heebo-Light";
	src: url("../../../fonts/Heebo/Heebo-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Heebo-Regular";
	src: url("../../../fonts/Heebo/Heebo-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Heebo-Medium";
	src: url("../../../fonts/Heebo/Heebo-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Heebo-SemiBold";
	src: url("../../../fonts/Heebo/Heebo-SemiBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Heebo-Bold";
	src: url("../../../fonts/Heebo/Heebo-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Dead Stock-Demo";
	src: url("../../../fonts/Dead Stock-Demo.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
